<h1>Welcome to Raffit</h1>
<div class="row">
	
	<div class="small-6 columns">

			<img class="resize" src="http://www.oregonlottery.org/images/About/PressCenter/PressKits/4th_july_raffle_logo.jpg">

	</div>
	<div class="small-5 columns">
		<div class="row">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan urna in mi dictum in sodales lacus imperdiet. Nunc id tellus odio. Sed non placerat eros. Duis blandit enim in tortor lacinia at molestie ante aliquet. Sed quam leo, condimentum in ultrices eget, consequat in erat. Donec hendrerit elementum lobortis. Mauris accumsan nunc a turpis accumsan quis mattis enim fringilla. Suspendisse a odio ac metus ornare auctor et vitae diam. In cursus sagittis ornare. Duis convallis venenatis dolor ac tincidunt. Suspendisse luctus nunc vitae arcu pulvinar ac euismod purus molestie. Aliquam et elit diam. <br>
			Sed quam leo, condimentum in ultrices eget, consequat in erat. Donec hendrerit elementum lobortis. Mauris accumsan nunc a turpis accumsan quis mattis enim fringilla. Suspendisse a odio ac metus ornare auctor et vitae diam. In cursus sagittis ornare. Duis convallis venenatis dolor ac tincidunt. Suspendisse luctus nunc vitae arcu pulvinar ac euismod purus molestie. Aliquam et elit diam.
		</div>

	</div>

</div>
<hr>
<div class="homeimage">
	<% @photos.each do |photo| %>
		<div class="homeone">
			<img src="<%= "#{ActionController::Base.relative_url_root}/images/#{photo}" %>" />
		</div>
	<% end %>
</div>