// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.resize{
    width: 100%;
    height: auto;
}

.loginUser{
  color: white;
  padding: 0 15px;
  line-height: 45px;
  background: #111111;
}

.name h1 a{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}