// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
	width: 100%;
	font-size: 20px;
}
td {
	width: 100%;
	b {
		font-size: 30px;
	}

}

.homeimage{
	display: -webkit-flex;
	-webkit-flex-direction: row;

	
}

.homeone{

		-webkit-flex: 1;
}