<footer class="footer">
  <small>
    Raffit by: Jeffrey Tong, Yi He, James Zhang
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/trigun0x2/raffit/">GitHub</a></li>
    </ul>
  </nav>
</footer>